.post {
    margin: 0 8px;
    width: calc((100% - 16px * 2) / 4 - 8px);

    .imgWrapper {
        aspect-ratio: 16/9;
        position: relative;
    }

    h2 {
        font-size: 30px;
        line-height: 35px;
    }

    p {
        font-size: 20px;
        line-height: 25px;
    }
}